[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggTimeSeries"]
	path = ggTimeSeries
	url = https://github.com/thecomeonman/ggtimeseries
